@import url("bootstrap-reboot.css");
@import url("bootstrap-grid.css");

@font-face {
    font-family: 'retroRegular';
    src: url(/fonts/PixeloidMono-VGj6x.ttf);
}
@font-face {
    font-family: 'retroSans';
    src: url(/fonts/PixeloidSans-JR6qo.ttf);
}
@font-face {
    font-family: 'retroBold';
    src: url(/fonts/PixeloidSansBold-GOjpP.ttf);
}

:root{
    --regular: retroSans, sans-serif;
    --negrita: retroBold, sans-serif;
}

body{
    background-color: rgb(140, 127, 216);
    color: white;
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--negrita);
    text-shadow: 4px 4px black;
    
}
*{
    font-family: var(--regular);
}

header{
    /* background-color: #a2a2a2; */
    background-image: url(../img/fondoHeader.png);
    background-size: contain;
    background-repeat: repeat;
}

/* Estilos header */

.titulo{
    text-shadow: 0 2px 2px #dfdfdf, 
      -2px 5px 1px #b8b8b8, 
      -4px 8px 0px #979797, 
      -6px 11px 0px #747474,
      -8px 14px 0px #565656,
      -10px 17px 0px #343434,
      -12px 20px 0px #171717,
      -14px 23px 0px #000;
}
.logo{
    margin-bottom: 10px;
}
.divHeader{
    position: relative;
    text-align: center;
    padding: 10px 0;
}
.fa-bars{
    color: grey;
    font-size: 3em;
    cursor: pointer;
}
.fa-bars:hover{
    color: blueviolet;
}

.peque img{
    width: 120px !important;
}
.fotosDecoracion{
    display: none;
}
.shovelBros img{
    width: 450px !important;
}
.princeofpersia img{
    width: 500px !important;;
}

/* Estilos boton zoom */

.absolute{
    position: absolute;
}

.zoom{
    position: relative;
}
.zoom:hover .botonZoom{
    animation-name: botonZoom;
    animation-duration: 0.5s;
}
.zoomOptions button{
    display: block;
    width: 50px;
    height: 0px;
    opacity: 0;
    margin: 0 auto;
    transition: 0.4s;
}
.zoomOptions{
    position: absolute;
    width: 100%;
}
.zoom:hover .zoomOptions button{
    height: 30px;
    opacity: 1;
    display: block;
}
.noHover{
    pointer-events: none;
}
.nav{
    display: none;
    margin: 10px auto;
    gap: 20px;
}
.nav button{
    transition: 0.3s;
}
.nav button:hover{
    transition: 0.3s;
    transform: scale(1.25);
}
.juego1:hover{
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px;
}
.juego2:hover{
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px;
}
.juego3:hover{
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px;
}
.active{
    display: flex;
    padding: 1px;
}

@keyframes botonZoom{
    25%{
        transform: rotate(10deg);
    }
    50%{
        transform: rotate(-10deg);
    }
    75%{
        transform: rotate(10deg);
    }
}

/* Estilos tablero */

.derrota{
    display: none;
    font-family: var(--negrita);
    text-align: center;
    border: none;
}
.bandera{
    background-image: url(../img/banderita.png), url(../img/tierra.png) !important;
}
.celdaLibre{
    background-image: url(../img/ground.png) !important;
}
.bomba{
    background-image: url(../img/bomba.webp), url(../img/ground.png) !important;
}

/* Estilos  instrucciones */
.row img{
    width: 150px;
}
.row h1{
    margin: 0 0;
}


/* Estilos formulario de dificultad */

.divFormulario{
    padding: 20px;
    box-shadow: inset 0px 0px 10px 2px green;
    border: 2px solid black;
    border-radius: 10px;
    max-width: 80%;
    transition: 0.3s;
}

.datosPartida div{
    text-align: center;
}
fieldset{
    padding: 10px;
}
.personalizado{
    display: none;
    max-width: 300px;
}
.error{
    display: none;
    border: 2px solid;
    color: rgb(168, 8, 8);
    width: 100%;
    padding: 5px;
    max-width: 200px;
}
.error span{
    font-family: var(--negrita);
}
.errorCamposActivo{
    display: block;
}
.personalizado label{
    width: 150px;
    text-align: start;
}
.personalizado input{
    width: 60px;
}
.instrucciones{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.instrucciones p{
    margin: 0 0;
    padding: 5px;
}

.hidden{
    display: none !important;
}

/*Estilos para las reglas del juego*/

.divRegla{
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    box-shadow: 0px 0px 5px 5px greenyellow;
    background-color: #5da0db;
    background-image: linear-gradient(32deg, #5da0db 0%, #b06ee5 100%);
}

/*Estilos de la explicacion de los iconos*/

.iconos{
    margin-top: 20px;
}

.filaIcono{
    border: 2px solid black;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: 10px 0;
    box-shadow: 3px 3px black;
    background-color: #5da0db;
    background-image: linear-gradient(62deg, #5da0db 0%, #b06ee5 100%);

}
.divFoto img{
    width: 100%;
    max-width: 85px;
    min-width: 40px;
    margin: 5px 0;
}

/* Estilos div de boton iniciar partida */

.divBotonStart{
    position: relative;
    margin: 10px 0 !important;
}

.botonStart{
    transition: 0.3s;
}

/* Estilos tablero */

.tablero{
    overflow: auto;
}
.fila{
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
}
.casilla{
    flex-shrink: 0;
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    background-image: url(../img/tierra.png);
    background-size: cover;
    border: 1px solid black;
}

.casilla:hover{
    opacity: 0.5;
}

/* Animacion de megaman */

.megaman{
    position: absolute;
    width: 70px;
    height: 80px;
    left: -160px;
    top: -25px;
    background-image: url(../img/ezgif-5-f9d2c4621f.png);
    background-size: contain;
}

.billBala{
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    left: -90px;
    top: -5px;
    background-image: url(../img/billBala.png);
    background-size: contain;
}

.billBalaActive{
    display: block;
    animation-name: billBala;
    animation-duration: 0.6s;
}

.megamanActive{
    animation-name: megamanShot;
    animation-duration: 1.2s;
}

@keyframes billBala{
    100%{
        transform: translateX(100px);
    }
}

@keyframes megamanShot{
    0%{
        background-image: url(../img/222-2222107_megaman-sprites-mega-man-x-charge-shot.png);
    }
    100%{
        background-image: url(../img/222-2222107_megaman-sprites-mega-man-x-charge-shot.png);
    }
}

/* Estilos del footer */

.divFooter{
    background-color: #a2a2a2;
    text-align: center;
    color: black;
    text-shadow: 1px 1px red;
}
.nombreAutor{
    text-shadow: 1px 1px blue;
}
.rrss{
    background-image: linear-gradient(to right, blue, white);
}
.autor{
    background-color: white;
}
.copyright{
    background-image: linear-gradient(to right, white, blue);
}
.rrss img{
    width: 50px;
}

@media (min-width: 768px) {
    #hamburger-menu{
        display: none;
    }
    .nav{
        display: flex;
    }
    .fotosDecoracion{
        display: flex;
    }
}

@media (max-width: 600px){
    .megaman{
        display: none;
    }
    .billBala{
        display: none;
    }
}
