@import url("bootstrap-reboot.css");
@import url("bootstrap-grid.css");

@font-face {
    font-family: 'retroRegular';
    src: url(/fonts/PixeloidMono-VGj6x.ttf);
}
@font-face {
    font-family: 'retroSans';
    src: url(/fonts/PixeloidSans-JR6qo.ttf);
}
@font-face {
    font-family: 'retroBold';
    src: url(/fonts/PixeloidSansBold-GOjpP.ttf);
}

:root{
    --regular: retroSans, sans-serif;
    --negrita: retroBold, sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--negrita);
    
}
*{
    font-family: var(--regular);
}

header{
    background-color: #a2a2a2;
}
.row img{
    width: 150px;
}
.row h1{
    margin: 0 0;

}
.logo{
    margin-bottom: 10px;
}
.divHeader{
    text-align: center;
}

.nav{
    display: none;
    margin: 10px auto;
    gap: 10px;
}
.active{
    display: flex;
    padding: 1px;
}
.fa-bars{
    color: black;
    font-size: 3em;
    cursor: pointer;
    transition: 0.2s;
}
.fa-bars:hover{
    color: blue;
    transition: 0.2s;
}
.zoom{
    position: relative;
    margin: 0 0;
}
.zoomOptions{
    position: absolute;
    display: none;
    width: 100%;
}
.zoomOptions button{
    display: block;
    width: 50px;
    margin: 0 auto;
}
.zoom:hover .zoomOptions{
    display: block;
}

#datosPartida div{
    text-align: center;
    margin: 5px auto;
}
fieldset{
    border: 1px solid black;
    padding: 10px;
}
.personalizado{
    display: none;
    
}
.personalizado label{
    width: 150px;
    text-align: start;
}
.divJuego{
    margin: 10px 65px;
    height: 400px;
    background-color: grey;
}


.instrucciones{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.instrucciones p{
    margin: 0 0;
    padding: 5px;
}

/*Estilos para las reglas del juego*/

.reglas p{
    border: 1px solid black;
}

/*Estilos de la explicacion de los iconos*/

.filaIcono{
    border: 1px solid black;
}
.divFoto img{
    width: 100%;
    max-width: 85px;
    min-width: 40px;
}

